<div class="auth-wrapper">
  <div class="auth-content">
    <div class="card">
      <div class="row align-items-center text-center">
        <div class="col-md-12">
          <div class="card-body">
            <!-- <img src="assets/images/logo-dark.png" alt="logo" class="img-fluid mb-4" />
              -->

              <div style="text-align: center; display: flex; justify-items: center; justify-content: center; align-items: center ; padding-bottom: 30px;">
                <svg style="width: 3rem;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128" id="Cart">
                  <circle cx="90" cy="102" r="8" fill="none" stroke="#4285f4" stroke-linecap="round" stroke-linejoin="round"
                    stroke-miterlimit="10" stroke-width="4" class="colorStroke00aeef svgStroke"></circle>
                  <circle cx="50" cy="102" r="8" fill="none" stroke="#4285f4" stroke-linecap="round" stroke-linejoin="round"
                    stroke-miterlimit="10" stroke-width="4" class="colorStroke00aeef svgStroke"></circle>
                  <path fill="none" stroke="#4285f4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                    stroke-width="4"
                    d="M30 34h83.1c2.8 0 4.7 2.8 3.7 5.4l-15.9 41.4C99.7 84 96.7 86 93.4 86H46.6c-3.8 0-7.1-2.7-7.9-6.5L30 34zm-.1 0-1.5-7.6c-.7-3.7-4-6.4-7.8-6.4h-7.2M90.9 46h3M33 46h48.9"
                    class="colorStroke00aeef svgStroke"></path>
                </svg>
                <span style="font-size: x-large; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; padding-left: 4%; color: #4099ff;">Cloud Shop</span>
              </div>
            <h4 class="mb-3 f-w-400">Sign up</h4>
            <form [formGroup]="from">
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="feather icon-user"></i></span>
                <input formControlName="name" type="text" class="form-control" placeholder="Username" aria-label="Username"
                  aria-describedby="basic-addon1" />
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon2"><i class="feather icon-mail"></i></span>
                <input formControlName="email" type="email" class="form-control" placeholder="Email address" aria-label="Username"
                  aria-describedby="basic-addon2" />
              </div>
              <div class="input-group mb-4">
                <span class="input-group-text" id="basic-addon3"><i class="feather icon-phone"></i></span>
                <input formControlName="phone" type="phone" class="form-control" placeholder="Phone" aria-label="Username"
                  aria-describedby="basic-addon3" />
              </div>
              <div class="input-group mb-4">
                <span class="input-group-text" id="basic-addon3"><i class="feather icon-lock"></i></span>
                <input formControlName="password" type="password" class="form-control" placeholder="Password" aria-label="Username"
                  aria-describedby="basic-addon3" />
              </div>
              <div class="form-group text-start mt-2">
                <div class="checkbox checkbox-primary d-inline">
                  <input type="checkbox" name="checkbox-fill-2" id="checkbox-fill-2" />
                  <label for="checkbox-fill-2" class="cr">Send me the <a href="javascript:"> Newsletter </a>
                    weekly.</label>
                </div>
              </div>
              <div class="d-grid">
                <button (click)="sinup()" class="btn btn-primary btn-block mb-4">Sign up</button>
              </div>
            </form>
            <p class="mb-2">Already have an account? <a [routerLink]="['/auth/signin']" class="f-w-400">Signin</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>