<div class="row">
  <div class="col-sm-12">
    <!-- <div class="alert alert-danger" role="alert">
      A simple danger alert—check it out!
    </div> -->
    <app-card cardTitle="ADD CUSTOMER" [options]="false">
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Name</span>
        <input type="text" class="form-control" placeholder="Raj Dey" aria-label="Username"
          aria-describedby="basic-addon1" [(ngModel)]="customerName" />
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon3">Email</span>
        <input type="text" class="form-control" placeholder="example@gmail.com" aria-label="Recipient's username"
          aria-describedby="basic-addon2" [(ngModel)]="customerEmail" />
        <!-- <span class="input-group-text" id="basic-addon2">@example.com</span> -->
      </div>
      <!-- <label for="basic-url" class="form-label">Your vanity URL</label> -->
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon3">Phone</span>
        <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3"
          [(ngModel)]="customerPhone" />
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">Street</span>
        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)"
          [(ngModel)]="addressStreet" />
        <!-- <span class="input-group-text">.00</span> -->
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">City</span>
        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" [(ngModel)]="addressCity" />
        <!-- <span class="input-group-text">.00</span> -->
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">Pin Code</span>
        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" [(ngModel)]="addressPin" />
        <!-- <span class="input-group-text">.00</span> -->
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">State</span>
        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)"
          [(ngModel)]="addressState" />
        <!-- <span class="input-group-text">.00</span> -->
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text">Country</span>
        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)"
          [(ngModel)]="addressCountry" />
        <!-- <span class="input-group-text">.00</span> -->
      </div>
      <button class="btn btn-primary" type="button" id="button-addon1" (click)="onSubmit()"> ADD CUSTOMER </button>
      <hr />
    </app-card>
  </div>
  <div class="row justify-content-end">
    <div *ngIf="statusSuccess" class="alert alert-success col-sm-3" role="alert">
      Customer successfully added.
    </div>
    <div *ngIf="statusFail" class="alert alert-danger col-sm-3" role="alert">
      {{errorMsg}}
    </div>
  </div>
</div>