<div class="row">
  <div class="col-sm-12" [formGroup]="from">
    <app-card cardTitle="ADD CUSTOMER" [options]="false">
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Name</span>
        <input type="text" class="form-control" formControlName="name" placeholder="Raj Dey" aria-label="Username"
          aria-describedby="basic-addon1" [(ngModel)]="customerName" />
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon3">Email</span>
        <input type="text" class="form-control" placeholder="example@gmail.com" formControlName="email" aria-label="Recipient's username"
          aria-describedby="basic-addon2" [(ngModel)]="customerEmail" />
        <!-- <span class="input-group-text" id="basic-addon2">@example.com</span> -->
      </div>
      <!-- <label for="basic-url" class="form-label">Your vanity URL</label> -->
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon3">Phone</span>
        <input type="text" class="form-control" formControlName="phone" id="basic-url" aria-describedby="basic-addon3"
          [(ngModel)]="customerPhone" />
      </div>
      <div formGroupName="address">
        <div class="input-group mb-3">
          <span class="input-group-text">Street</span>
          <input type="text" class="form-control" formControlName="street" aria-label="Amount (to the nearest dollar)"
            [(ngModel)]="addressStreet" />
          <!-- <span class="input-group-text">.00</span> -->
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text">City</span>
          <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" formControlName="city" [(ngModel)]="addressCity" />
          <!-- <span class="input-group-text">.00</span> -->
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text">Pin Code</span>
          <input type="text" class="form-control" formControlName="pincode" aria-label="Amount (to the nearest dollar)" [(ngModel)]="addressPin" />
          <!-- <span class="input-group-text">.00</span> -->
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text">State</span>
          <input type="text" class="form-control" formControlName="state" aria-label="Amount (to the nearest dollar)"
            [(ngModel)]="addressState" />
          <!-- <span class="input-group-text">.00</span> -->
        </div>
  
        <div class="input-group mb-3">
          <span class="input-group-text">Country</span>
          <input type="text" class="form-control" formControlName="country" aria-label="Amount (to the nearest dollar)"
            [(ngModel)]="addressCountry" />
          <!-- <span class="input-group-text">.00</span> -->
        </div>
        <button class="btn btn-primary" type="button" id="button-addon1" (click)="subit()"> ADD CUSTOMER </button>
        <hr />
      </div>
      </app-card>
    </div>
  </div>