<div class="col-xl-12">
    <app-card cardTitle="VIEW PRODUCT" [options]="false" blockClass="table-border-style">
        <mat-table #table [dataSource]="dataSource" [class.isMobile]="isMobile" *ngIf="matTable">
            <ng-container matColumnDef="productName">
                <mat-header-cell fxLayoutAlign="center center" *matHeaderCellDef>
                    Product Name
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <!-- <span class="mobile-label">Name :</span> -->
                    {{ element.title_text }}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="purchasePrice">
                <mat-header-cell fxLayoutAlign="center center" *matHeaderCellDef>
                    Purchase Price
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <!-- <span class="mobile-label">Mobile :</span> -->
                    {{ element.purchase_price_text }}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="sellingPrice">
                <mat-header-cell fxLayoutAlign="center center" *matHeaderCellDef>
                    Selling Price
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <!-- <span class="mobile-label">Email :</span> -->
                    {{ element.selling_price_text }}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="stock">
                <mat-header-cell fxLayoutAlign="center center" *matHeaderCellDef>
                    Stock
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <!-- <span class="mobile-label">Email :</span> -->
                    {{ element.stock_text }}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="category">
                <mat-header-cell fxLayoutAlign="center center" *matHeaderCellDef>
                   Category
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <!-- <span class="mobile-label">Email :</span> -->
                    {{ element.category_text }}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="actions">
                <mat-header-cell fxLayoutAlign="center center" *matHeaderCellDef>
                    Actions
                </mat-header-cell>
                <mat-cell fxLayoutAlign="center center" *matCellDef="let element">
                    <div>
                        <button mat-icon-button (click)="onDelete(element._id)" [matTooltip]="'Delete'">
                            <mat-icon class="icon-size-30" style="color: rgb(150, 4, 4);">delete</mat-icon>
                        </button>
                    </div>
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>
        <div class="errorMessage" *ngIf="!matTable" fxLayoutAlign="center center">
            {{ errorMessage }}
        </div>
    </app-card>
</div>