<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="ADD CUSTOMER" [options]="false">
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Name</span>
        <input type="text" class="form-control" placeholder="Gmail" aria-label="Username" aria-describedby="basic-addon1" />
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon3">Gmail</span>
        <input
          type="text"
          class="form-control"
          placeholder="Username"
          aria-label="Recipient's username"
          aria-describedby="basic-addon2"
        />
        <!-- <span class="input-group-text" id="basic-addon2">@example.com</span> -->
      </div>
      <!-- <label for="basic-url" class="form-label">Your vanity URL</label> -->
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon3">Phone</span>
        <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" />
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">Address</span>
        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" />
        <!-- <span class="input-group-text">.00</span> -->
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">Street</span>
        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" />
        <!-- <span class="input-group-text">.00</span> -->
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">City</span>
        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" />
        <!-- <span class="input-group-text">.00</span> -->
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">Pin Code</span>
        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" />
        <!-- <span class="input-group-text">.00</span> -->
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">State</span>
        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" />
        <!-- <span class="input-group-text">.00</span> -->
      </div>
    
      <div class="input-group mb-3">
        <span class="input-group-text">Country</span>
        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" />
        <!-- <span class="input-group-text">.00</span> -->
      </div>
      <button class="btn btn-primary" type="button" id="button-addon1"> ADD CUSTOMER </button>
     
      
      <hr />
    </app-card>
  </div>
</div>
